@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* colors */
    --navy-blue: #022E57;
    --blue: #005A8D;
    --pink: #FF96AD;
    --light-pink: #FFF5FD;

    /* font weights */
    --regular: 400;
    --medium: 500;
    --bold: 700;

    /* sizes */
    --heading: 72px;
    --form-input: 20px;
    --sub-heading: 24px;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}
body {
    background-color: var(--light-pink);
}
#banner {
    background-color: var(--navy-blue);
    text-align: center;
    padding: 112px 0 85px;
}
.heading {
    font-size: var(--heading);
    color: var(--pink);
}
.sub-heading {
    color: var(--light-pink);
    font-size: var(--sub-heading);
    margin-top: 25px;
}

label {
    display: none;
}
input {
    background-color: var(--navy-blue);
    border: 1px solid var(--light-pink);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: var(--form-input);
    color: var(--light-pink);
    margin-right: 24px;
}
input::placeholder {
    color: rgba(255, 245, 253, 0.6);
}
#input-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
#row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 65px 0 40px;
}
#add-button {
    width: 30px;
    height: auto;
}
#add-button:hover {
    cursor: pointer;
}
#submit-btn {
    background-color: var(--pink);
    color: var(--light-pink);
    font-size: var(--sub-heading);
    font-weight: var(--medium);
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
}
#submit-btn:hover {
    cursor: pointer;
}

#content {
    text-align: center;
    padding: 60px 165px 80px;
}
.error-message {
    font-size: var(--sub-heading);
    color: var(--blue);
    margin-top: 20px;
}

#graphs {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.caption {
    color: var(--blue);
    font-weight: var(--regular);
    font-size: var(--sub-heading);
    margin-bottom: 30px;
}
.display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 2px solid var(--pink);
    width: 140px;
    font-size: 14px;
}
.followers {
    background-color: var(--blue);
    color: var(--light-pink);
    width: 47px;
}
.likes {
    background-color: var(--pink);
    color: var(--navy-blue);
    width: 47px;
}
.comments {
    background-color: var(--navy-blue);
    color: var(--light-pink);
    width: 47px;
}
.legend {
    margin-top: 10px;
    width: 170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.profile-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.username {
    font-size: 14px;
    font-weight: var(--regular);
    margin-top: 6px;
}