@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    /* colors */
    --navy-blue: #022E57;
    --blue: #005A8D;
    --pink: #FF96AD;
    --light-pink: #FFF5FD;

    /* font weights */
    --regular: 400;
    --medium: 500;
    --bold: 700;

    /* sizes */
    --heading: 72px;
    --form-input: 20px;
    --sub-heading: 24px;
}

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
}
body {
    background-color: var(--light-pink);
}
#banner {
    background-color: var(--navy-blue);
    text-align: center;
    padding: 112px 0 85px;
}
.heading {
    font-size: var(--heading);
    color: var(--pink);
}
.sub-heading {
    color: var(--light-pink);
    font-size: var(--sub-heading);
    margin-top: 25px;
}

label {
    display: none;
}
input {
    background-color: var(--navy-blue);
    border: 1px solid var(--light-pink);
    border-radius: 5px;
    padding: 10px 15px;
    font-size: var(--form-input);
    color: var(--light-pink);
    margin-right: 24px;
}
input::placeholder {
    color: rgba(255, 245, 253, 0.6);
}
#submit-btn {
    background-color: var(--pink);
    color: var(--light-pink);
    font-size: var(--sub-heading);
    font-weight: var(--medium);
    border: 0;
    padding: 10px 20px;
    border-radius: 5px;
}
#submit-btn:hover {
    cursor: pointer;
}
.input-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 65px 0 40px;
}

#content {
    text-align: center;
}
.error-message {
    font-size: var(--sub-heading);
    color: var(--blue);
    margin-top: 80px;
}