<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/styles.css">
    <title>InComparison</title>
</head>
<body>
    <div class="banner">
        <h1 class="heading">
            InComparison
        </h1>
        <form>
            <div class="input-row">
                <label for="user-name">Instagram username</label>
                <input 
                    id="user-name"
                    name="userName"
                    type="text"
                    placeholder="Add usernames to compare"
                >

                <img src="../static/images/plus.svg" alt="">
            </div>
            
            <div>
                <button>Compare</button>
            </div>
            
        </form>
    </div>
</body>
</html>